@page
@model Bigfoot.Pages.Team.IndexModel

@section head{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background-color: darkolivegreen;
            width: auto;
            height: auto;
            margin: 0;
        }
    </style>
}

@{
    ViewData["Title"] = "Bigfoot Database";
}

<h1>Bigfoot Database</h1>

<p>
    <a asp-page="Create" class="btn">New Sighting</a>
</p>
</select>
<table class="table text-white table-bordered table-dark table-hover table-sm table-responsive">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                @Html.DisplayNameFor(model => model.Sightings[0].Location)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sightings[0].Validity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sightings[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sightings[0].Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sightings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a asp-page="./Edit" class="btn2" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" class="btn2" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" class="btn2" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
